//- Main Navigation
mixin navigation( menu, type )
	if( !type )
		ul.rd-navbar-nav&attributes( attributes )
			each item in menu
				if( item.modal )
					li.rd-nav-item( class= { null: item.active } )
						button.rd-nav-link( data-modal-trigger!={ target: item.link } )= item.title
				else
					li.rd-nav-item( class= { active: item.active } )
						a.rd-nav-link( href= item.link )= item.title
						if( item.dropdown )
							+navigation( item.dropdown, 'dropdown' )
						if( item.megamenu )
							+navigation( item.megamenu, 'megamenu' )

	else if( type === 'dropdown' )
		ul.rd-menu.rd-navbar-dropdown
			each item in menu
				li.rd-dropdown-item( class= { active: item.active } )
					a.rd-dropdown-link( href= item.link )= item.title
					if( item.dropdown )
						+navigation( item.dropdown, 'dropdown' )

	else if( type === 'megamenu' )
		ul.rd-menu.rd-navbar-megamenu
			each item in menu
				li.rd-megamenu-item
					if ( item instanceof Array )
						+navigation( item, 'column' )
					else
						+navigation( item, 'block' )

	else if( type === 'column' )
		each item in menu
			+navigation( item, 'block' )

	else if( type === 'block' )
		if (menu.title && menu.link)
			h6.rd-megamenu-title: a( href= menu.link )= menu.title
		else if (menu.title)
			h6.rd-megamenu-title= menu.title
		if (menu.list)
			+navigation( menu.list, 'list' )

	else if( type === 'list' )
		ul.rd-megamenu-list
			each item in menu
				li.rd-megamenu-list-item
					a.rd-megamenu-list-link( href= item.link )= item.title
